@if (Request.IsAuthenticated) {
    <ul class="list-inline" style="margin-top:8px;">
        <li> Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" }) </li>
        <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, htmlAttributes: new { @id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            @*<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@
            <button type="submit" name="log_off" class="btn btn-primary">Log off</button>
        }
            </li>
        </ul>
   
} else {
    <ul class="list-inline" style="margin-top:8px;">
        <li>@Html.ActionLink("Register", "Register", "Account", new { returnUrl = "" }, htmlAttributes: new { @id = "registerLink", @class = "btn btn-primary" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { returnUrl = "https://mail.google.com/mail/u/0/?shva=1#inbox" }, htmlAttributes: new { @id = "loginLink", @class = "btn btn-primary" })</li>
        
    </ul>
}
